* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

button:hover {
    cursor: pointer;
}

button {
    padding: 0px;
}

.mber_crd {
    display: flex;
    width: fit-content;
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    align-items: center;
    user-select: none;
}

.mber_con {
    border: 1px solid black;
    width: 300px;
    height: 500px;
    overflow: scroll;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1),
        1px 1px 20px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    flex-direction: column;
}

.mber_con * {
    margin: 0;
}

.mber_con::-webkit-scrollbar {
    display: none;
}

.mber_clsbtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
}

.mber_conHeader {
    padding: 10px 10px 0 10px;
}

.mber_conTab {
    position: relative;
    display: flex;
    margin-top: 10px;
    height: 50px;
}

.mber_tabPanels {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
}

.mber_tabPanels::-webkit-scrollbar {
    display: none;
}

.mber_reward {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.reward_title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    & button {
        display: inline-flex;
        gap: 2px;
        align-items: center;
        font-size: 12px;
        border: none;
        background-color: transparent;
    }

    & img {
        width: 12px;
    }
}

.reward_icon {
    width: 40px;
    height: 40px;
    background-color: rgb(252, 250, 247);
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;

    & img {
        width: 24px;
    }
}

.reward_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

}

.reward_body img {
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reward_list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
}

.reward {
    width: 100%;
    display: flex;
    padding: 4px 0;
    gap: 10px;
}

.mber_conTab button {
    padding: 10px 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 2px solid gray;
    width: 50%;
}

.mber_btn {
    writing-mode: vertical-lr;
    height: fit-content;
    background-color: rgb(191, 251, 231);
    border-radius: 10px 0 0 10px;
    font-size: 12px;
    padding: 0 0 6px 0;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1),
        1px 1px 20px 0px rgba(0, 0, 0, 0.05);
}

.mber_btn:hover {
    cursor: pointer;
}

.mber_btn img {
    width: 48px;
}

.mber_vip {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    gap: 16px;

    .vip_title {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .vip_list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    .vip {
        display: flex;
        width: 100%;
        flex-direction: row;
        column-gap: 12px;

        .vip_icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: rgb(252, 250, 247);
            border-radius: 6px;

            & img {
                width: 24px;
            }
        }

        .vip_body {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 8px;

            & div:first-child {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
            }

            & div:nth-child(2) {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 4px;

                & button {
                    background-color: transparent;
                    border: none;
                    width: fit-content;
                    width: 24px;
                    height: 24px;

                    & img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}