<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="test">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        全名: <span>{{firstName}}-{{lastName}}</span>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    firstName: "張",
                    lastName: "三"
                }
            },

        }).mount("#test");
    </script>
</body>

</html>