<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;

            & table {
                text-align: center;

                & td:has(button) {
                    display: flex;
                }
            }
        }
    </style>
</head>

<body>
    <div id="demo">
        <div class="progress">
            <div class="progress-bar" :style="{width:bar_process+'%'}">{{bar_process}}%</div>
        </div>
        <div>
            <table>
                <tr>
                    <th>商品</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>小計</th>
                </tr>
                <tr>
                    <td>A</td>
                    <td>$180</td>
                    <td>
                        <button @click="add('-')">-</button>
                        <div><input type="text" v-model="num"></div>
                        <button @click="add('+')">+</button>
                    </td>
                    <td>
                        <div>${{180*num}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        const vw = Vue.createApp({
            data() {
                return {
                    num: 1,
                }
            },
            methods: {
                add(e) {

                    if (e == "-") {
                        this.num == 0 ? this.num = 0 : this.num--;
                    } else {
                        this.num++;
                    }
                }
            },
            computed: {
                bar_process: {
                    get() {
                        if (this.num >= 0) {
                            return Math.floor((this.num * 180 / 1800) * 100);
                        } else {
                            return 0
                        }
                    },
                },
                // bar_process: {
                //     get() {
                //         return this.num >= 0 ? (this.num * 180 / 1800).toFixed(1) * 100 : 0;
                //     },
                // }
            },
        }).mount("#demo")
    </script>
</body>

</html>