<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="demo">
        <h1>學生資料</h1>

        <button @click="student.age++">年齡+1</button><br><br>
        <button @click="student.sex='男'">添加性別屬性，預設男</button><br><br>
        <button @click="student.sex=student.sex=='女'?'男':'女'">修改性別</button><br><br>
        <button @click="student.friends.unshift({name:'jack',age:70})">列表首位添加一位朋友</button><br><br>
        <button @click="student.friends[0].name='張三'">修改第一個朋友的名字為張三</button><br><br>
        <button @click="student.hobby.push('打電動')">添加一個興趣</button><br><br>
        <button @click="student.hobby.splice(0,1,'開車')">修改第一個愛好為開車</button><br><br>
        <!-- <button @click="student.hobby[0]='開車'">修改第一個愛好為開車</button><br><br> -->
        <button @click="removeSmoke">過濾興趣中的抽菸</button>

        <h2>姓名:{{student.name}}</h2>
        <h2 v-if="student.sex">性別:{{student.sex}}</h2>
        <h2>年齡:{{student.age}}</h2>
        <h2>興趣</h2>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h2>朋友們</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    student: {
                        name: "tom",
                        age: 18,
                        hobby: ["抽菸", "喝酒", "打麻將"],
                        friends: [
                            { name: "jerry", age: 35 },
                            { name: "tony", age: 36 },

                        ]
                    }
                }
            },
            methods: {
                removeSmoke() {
                    this.student.hobby = this.student.hobby.filter((h) => {
                        return h != "抽菸";
                    })
                }
            },

        }).mount("#demo")
    </script>
</body>

</html>