<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="test">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        全名: <span>{{fullName}}</span><br>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    firstName: "張",
                    lastName: "三"
                    //此處返回的值為屬性名+屬性值
                }
            },
            computed: {
                fullName: {
                    //get有甚麼作用?有人讀取fullName時，get就會被調用，且返回值作為fullName的值
                    //get甚麼時候調用?1.初次讀取fullName時 2.依賴的數據發生變化時
                    get() {
                        //此處的this為vm
                        return this.firstName + "-" + this.lastName;
                    },
                    //set甚麼時候調用? 當fullName被修改時
                    set(value) {
                        const arr = value.split("-");
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    }
                }

            },
        }).mount("#test");
    </script>
</body>

</html>