<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="test">
        姓: <input type="text" v-model="firstName"><br>
        名: <input type="text" v-model="lastName"><br>
        全名: <span>{{fullName}}</span><br>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    firstName: "張",
                    lastName: "三"
                }
            },
            computed: {
                // 完整寫法
                // fullName: {
                //     get() {
                //         return this.firstName + "-" + this.lastName;
                //     },
                //     set(value) {
                //         const arr = value.split("-");
                //         this.firstName = arr[0];
                //         this.lastName = arr[1];
                //     }
                // }

                //簡寫，只讀取不修改時可以用此簡寫
                fullName() {
                    return this.firstName + "-" + this.lastName;
                }

            },
        }).mount("#test");
    </script>
</body>

</html>