.logo {
    position: absolute;
    width: 80px;
    fill: rgb(0, 81, 255);
    z-index: 999;
}

.bounce {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

body {
    margin: 0;
}

@media (max-width: 768px) {
    .logo {
        width: 40px;
    }
}