<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./bounce.css">
    <link rel="stylesheet" href="./questionnaire.css">
    <title>Document</title>
</head>

<body>
    <quiz>
        <div id="quiz">
            <div class="quiz_container">
                <div class="quiz_page" :style="{top:page_top+'vh'}">
                    <!-- 第0頁 -->
                    <div class="slide0">
                        <section class="bounce">
                            <div @click="bounce" v-if="bounce_display">
                                <?xml version="1.0" encoding="utf-8"?>
                                <!-- Generator: Adobe Illustrator 27.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 266.457 320.315" style="enable-background:new 0 0 266.457 320.315;"
                                    xml:space="preserve" class="logo">
                                    <g>
                                        <path d="M95.932,290.661c7.27-4.891,14.54-9.782,21.811-14.673c0.281,0.394,0.561,0.789,0.842,1.183
                                    c-2.5,3.66-4.999,7.32-7.499,10.98c0.504,0.508,1.009,1.016,1.513,1.524c3.69-2.569,7.417-5.086,11.059-7.723
                                    c2.674-1.936,5.056-4.359,7.922-5.911c1.486-0.805,3.74-0.19,5.648-0.216c-0.035,1.714,0.024,3.437-0.144,5.138
                                    c-0.09,0.916-0.57,1.793-0.256,3.461c4.41-2.804,8.821-5.609,13.231-8.413c0.326,0.272,0.652,0.543,0.978,0.815
                                    c-0.772,1.747-1.545,3.495-2.417,5.466c4.205-0.745,6.082-6.317,11.724-5.177c-3.135,4.119-5.922,7.781-8.71,11.443
                                    c0.4,0.438,0.799,0.875,1.199,1.313c6.786-1.872,11.326-7.787,17.681-10.595c-4.913,5.75-10.341,10.888-17.111,14.331
                                    c-1.141,0.58-4.14,0.083-4.353-0.558c-0.708-2.127-0.536-4.548-0.711-6.99c-3.317,1.088-5.725,5.973-10.34,6.008
                                    c-0.294-0.377-0.587-0.753-0.881-1.13c1.724-2.053,3.448-4.106,5.172-6.158c-0.218-0.327-0.437-0.655-0.655-0.982
                                    c-4.084,2.466-8.297,4.746-12.221,7.445c-4.818,3.315-7.017,3.188-10.193-1.274c-9.829,5.171-10.986,4.99-12.96-2.374
                                    c-2.092,1.518-4.054,2.998-6.072,4.397c-6.563,4.549-8.864,3.54-9.735-4.641c-1.766,1.223-3.326,2.395-4.977,3.419
                                    c-1.492,0.926-3.084,1.691-4.969,2.708c-0.696-1.895-1.19-3.24-1.651-4.494c-3.853-0.308-6.637,8.963-11.515,1.249
                                    c-10.055,4.803-10.055,4.803-12.45-2.126c-5.56,1.966-11.155,3.822-16.653,5.93c-4.062,1.557-7.134,0.161-9.807-2.74
                                    c-3.48-3.776-6.874-7.632-10.807-12.014c-3.572,4.711-6.922,9.129-10.272,13.546c-0.424,0.052-0.848,0.104-1.273,0.156
                                    c-0.191-1.636-1.137-3.745-0.454-4.833c5.774-9.21,12.521-17.591,22.088-23.221c0.311-0.183,0.891,0.09,2.275,0.273
                                    c-3.468,3.969-6.536,7.481-9.771,11.184c7.131,0.402,19.279-5.962,22.412-11.5c-7.31-5.77-32.023,0.229-38.403,10.244
                                    c3.416-1.635,6.833-3.27,10.249-4.904c0.231,0.353,0.463,0.705,0.694,1.058c-2.967,2.121-5.742,4.654-8.991,6.17
                                    c-1.391,0.649-4.637-0.245-5.455-1.484c-0.822-1.245-0.398-4.495,0.727-5.658c9.794-10.12,21.797-14.211,35.761-11.85
                                    c3.509,0.593,6.946,2.017,7.763,6.046c0.878,4.331-2.157,6.813-5.276,8.802c-3.069,1.958-6.43,3.46-9.67,5.146
                                    c-1.27,0.661-2.562,1.279-5.077,2.53c4.069,3.267,7.493,6.016,10.86,8.72c0.769-6.133,4.877-10.581,10.708-13.555
                                    c2.318-1.182,5.242-2.837,7.119,0.203c1.758,2.848-0.954,4.693-2.961,5.957c-2.31,1.454-5.071,2.17-7.534,3.41
                                    c-1.242,0.625-2.258,1.698-2.88,3.219c7.865-0.318,14.341-3.135,18.825-9.415c5.131-7.187,11.272-13.108,19.455-16.62
                                    c1.506-0.646,3.327-0.557,6.063-0.965c-5.69,12.682-18.506,16.423-25.614,25.583c0.39,0.552,0.78,1.105,1.17,1.657
                                    c1.858-0.696,3.897-1.104,5.542-2.14c5.472-3.447,10.77-7.17,16.2-10.686c3.097-2.005,6.158-2.017,9.247,0.962
                                    c-2.376,3.122-4.713,6.193-7.05,9.264c0.355,0.38,0.71,0.76,1.064,1.14c5.301-3.907,10.602-7.815,16.915-12.468
                                    c-5.179-0.902-8.841-1.539-12.504-2.177c7.976-4.124,17.959-0.246,23.564-10.273c0.317,0.608,0.634,1.216,0.95,1.824
                                    c-0.196,1.325-0.392,2.65-0.698,4.717c3.777-0.349,7.275-0.672,11.027-1.018c1.029,2.167-0.175,3.524-2.327,4.169
                                    c-1.235,0.37-2.646,0.389-3.949,0.265c-11.773-1.126-17.5,6.855-22.981,15.201c-0.238,0.363-0.127,0.956-0.179,1.442
                                    C95.302,289.822,95.617,290.242,95.932,290.661z M74.859,286.104c0.382,0.472,0.765,0.944,1.147,1.417
                                    c3.127-2.648,6.253-5.296,9.38-7.944c-0.327-0.398-0.653-0.796-0.98-1.194C81.224,280.956,78.041,283.53,74.859,286.104z
                                     M123.819,289.3c6.493-1.601,7.171-2.922,3.922-6.546C126.369,285.044,125.094,287.172,123.819,289.3z M66.647,276.275
                                    c0.345,0.393,0.689,0.786,1.034,1.18c3.138-3.286,6.275-6.573,9.413-9.859c-0.203-0.207-0.406-0.414-0.608-0.622
                                    C73.206,270.074,69.926,273.175,66.647,276.275z" />
                                        <path d="M82.082,192.913c6.107,6.962,12.003,14.124,18.373,20.836c8.398,8.847,18.673,14.805,30.337,18.458
                                    c14.547,4.556,26.322-0.875,37.12-10.001c9.211-7.785,14.513-17.988,18.054-29.301c3.124-9.983,6.159-20.004,9.66-29.857
                                    c3.272-9.207,8.931-17.071,15.55-24.168c13.649-14.635,30.171-10.704,36.061,8.512c0.71,2.315,1.067,4.739,0.772,7.395
                                    c-0.692-1.074-1.421-2.126-2.067-3.227c-1.765-3.008-3.337-6.141-5.266-9.039c-7.188-10.797-16.508-12.07-25.619-2.761
                                    c-4.076,4.165-7.636,9.428-9.704,14.851c-5.38,14.104-9.985,28.515-14.558,42.913c-4.495,14.15-12.576,25.397-24.805,33.917
                                    c-14.594,10.167-29.573,10.74-45.166,2.869c-10.413-5.256-19.148-12.567-26.052-21.986c-4.578-6.246-9.025-12.588-13.53-18.888
                                    C81.522,193.261,81.802,193.087,82.082,192.913z" />
                                        <path d="M217.399,281.234c2.224-1.309,4.429-2.651,6.693-3.886c0.298-0.162,0.893,0.222,1.791,0.479
                                    c-1.851,3.167-3.612,6.179-5.372,9.191c0.336,0.364,0.671,0.727,1.007,1.091c6.163-4.018,12.326-8.035,18.489-12.053
                                    c0.265,0.41,0.529,0.82,0.794,1.23c-2.434,3.596-4.868,7.191-7.302,10.787c0.362,0.388,0.724,0.776,1.087,1.164
                                    c7.415-3.343,14.279-7.601,20.294-13.263c1.813-1.707,3.507-3.563,5.465-5.081c0.702-0.544,2.019-0.295,3.056-0.407
                                    c0.248,0.482,0.496,0.964,0.744,1.446c-3.872,3.225-7.743,6.45-11.615,9.675c0.44,0.475,0.881,0.951,1.321,1.426
                                    c2.399-1.276,4.689-2.903,7.239-3.689c1.387-0.427,3.669,0.109,4.684,1.098c0.679,0.661,0.423,3.579-0.42,4.285
                                    c-3.752,3.142-7.673,6.207-11.95,8.53c-1.568,0.852-4.291-0.423-7.65-0.889c-4.408,5.113-9.473,10.987-14.698,17.048
                                    c-2.529-0.655-2.837-2.124-1.191-4.189c2.899-3.637,5.855-7.228,8.78-10.844c0.982-1.214,1.939-2.449,3.403-4.302
                                    c-11.278,4.952-12.08,4.724-12.69-3.436c-2.896,1.927-5.527,3.894-8.372,5.476c-1.322,0.735-3.059,0.723-4.608,1.05
                                    c-0.053-1.671-0.155-3.343-0.132-5.013c0.008-0.609,0.315-1.213-0.172-2.541c-3.051,2.433-6.101,4.867-9.951,7.937
                                    c0.308-2.468,0.49-3.933,0.705-5.66c-3.062,1.708-5.799,3.586-8.801,4.824c-4.268,1.76-6.452-0.13-6.513-5.192
                                    c6.75,2.244,9.4,0.062,9.993-9.17c-3.379,2.387-6.289,4.443-9.2,6.5c-0.34-0.433-0.68-0.867-1.02-1.3
                                    c3.94-3.218,7.671-6.758,11.91-9.515c2.033-1.322,3.837,0.335,3.526,3c-0.283,2.429-0.796,4.831-0.301,8.07
                                    c2.697-2.275,5.625-4.329,8.04-6.872c4.341-4.57,8.204-9.599,12.618-14.092c1.765-1.797,4.458-2.682,6.729-3.982
                                    c0.31,0.449,0.62,0.898,0.93,1.346c-6,6.299-11.999,12.599-17.999,18.898C216.959,280.685,217.179,280.959,217.399,281.234z
                                     M249.815,289.647c0.344,0.516,0.687,1.033,1.031,1.55c3.993-2.641,7.986-5.283,11.978-7.924c-0.366-0.549-0.732-1.098-1.098-1.647
                                    C257.756,284.299,253.786,286.973,249.815,289.647z" />
                                        <path d="M129.57,163.267c-2.333,0.941-4.59,2.307-7.014,2.745c-7.361,1.33-14.81,2.173-22.169,3.51
                                    c-1.69,0.307-3.983,1.466-4.6,2.854c-5.321,11.989-19.601,16.547-32.662,5.939c-2.057-1.671-4.239-3.19-6.363-4.779
                                    c0.465-0.575,0.929-1.151,1.394-1.726c5.354,4.937,11.329,8.514,18.625,9.109c8.072,0.658,12.748-4.503,18.235-11.077
                                    c-25.787-0.122-50.784,1.254-74.6-7.206c0.076-0.484,0.151-0.968,0.227-1.452c4.142,0.959,8.284,1.918,12.389,2.868
                                    c12.46-22.804,33.408-27.012,56.372-25.473c13.039,0.874,31.105,11.921,33.88,19.704c-2.159-0.827-3.832-1.197-5.203-2.052
                                    c-2.535-1.581-4.936-3.389-7.317-5.202c-14.318-10.905-30.166-11.76-46.927-7.421c-10.115,2.619-19.056,6.906-25.099,15.875
                                    c-0.65,0.965-1.358,1.894-1.957,2.889c-0.23,0.382-0.23,0.901-0.465,1.923c31.15,3.981,61.929,1.291,92.668-3.493
                                    C129.18,161.625,129.375,162.446,129.57,163.267z" />
                                        <path d="M145.012,161.123c2.214-2.966,3.918-6.727,6.834-8.6c1.739-1.117,5.853-0.007,8.065,1.407
                                    c4.13,2.64,8.321,3.868,13.123,3.706c2.815-0.095,5.671-0.103,8.453,0.269c3.607,0.481,5.409,3.518,3.729,6.455
                                    c-1.549,2.708-3.533,5.24-5.686,7.508c-2.006,2.113-4.787,2.728-7.211,0.748c-6.147-5.021-13.132-6.412-20.888-6.088
                                    C147.35,166.697,145.767,164.768,145.012,161.123z" />
                                        <path
                                            d="M198.375,38.255c-0.522,2.308-2.208,5.812-1.323,6.675c1.844,1.796,5.18,3.251,7.667,2.943
                                    c5.058-0.626,9.962-2.506,14.925-3.887c4.831-1.344,9.535-1.391,13.959,1.354c8.206,5.092,8.177,14.315-0.018,19.34
                                    c-7.524,4.613-15.23,5.588-23.106,1.053c-5.223-3.008-10.435-5.266-16.523-1.857c3.66-3.987,7.746-6.195,13.073-4.578
                                    c2.542,0.772,5.059,1.641,7.54,2.591c5.712,2.188,10.743,0.763,15.465-2.69c2.694-1.971,2.919-4.366,1.063-6.9
                                    c-3.001-4.097-7.06-6.126-12.153-4.964c-3.385,0.772-6.659,2.037-9.977,3.102c-4.397,1.41-8.747,1.203-12.239-1.847
                                    c-1.505-1.314-2.747-4.058-2.496-5.938c0.253-1.899,2.5-3.533,3.874-5.284C198.195,37.663,198.285,37.959,198.375,38.255z" />
                                        <path
                                            d="M195.322,100.085c-1.326,3.523-3.548,3.837-6.265,2.123c-1.241-0.784-2.046-2.389-3.338-2.936
                                    c-2.92-1.236-6.025-2.86-9.046-2.843c-4.932,0.029-9.857,1.242-14.784,1.961c-1.141,4.997-2.287,5.422-7.548,2.556
                                    c0.308-0.528,0.587-1.063,0.922-1.56c0.255-0.378,0.582-0.708,0.944-1.14c-1.658-1.019-3.286-1.866-4.743-2.944
                                    c-3.983-2.946-4.832-5.805-2.595-10.121c2.977-5.745,6.299-11.311,9.393-16.996c4.559-8.376,8.591-16.923,7.477-27.437
                                    c6.373,11.432-3.126,34.379-15.065,47.499c2.2,4.603,5.548,6.362,10.752,5.524c4.757-0.766,9.494-1.659,14.25-2.437
                                    c5.086-0.832,9.465,0.359,13.19,4.182C190.543,97.238,192.835,98.362,195.322,100.085z" />
                                        <path
                                            d="M212.624,37.823c-4.295-0.242-8.207-2.773-11.509-6.496c-4.963-5.595-9.887-11.226-14.913-16.764
                                    c-1.671-1.841-3.49-3.591-5.444-5.124c-4.984-3.91-10.475-6.095-16.629-2.965c-6.136,3.121-8.171,8.847-7.308,15.133
                                    c0.682,4.97,2.811,9.741,4.183,14.223c-6.685-5.31-8.596-20.155-3.362-27.573c5.227-7.41,15.243-9.618,23.884-3.538
                                    c5.858,4.123,10.612,9.901,15.548,15.228C202.539,25.846,207.65,32.075,212.624,37.823z" />
                                        <path d="M153.877,132.502c4.062-2.702,8.259-2.679,12.465-0.306c1.148,0.648,2.255,1.412,3.257,2.268
                                    c5.701,4.866,11.119,10.572,19.918,5.023c-1.247,5.968-6.583,8.773-12.451,7.337c-5.446-1.334-9.287-4.857-12.368-9.385
                                    C160.571,131.373,160.545,131.391,153.877,132.502z" />
                                        <path
                                            d="M207.886,66.146c-1.877,10.916-3.642,21.181-5.407,31.446c-0.689-0.052-1.377-0.105-2.066-0.157
                                    c-2.954-7.139-0.888-14.432,1.008-21.541C202.381,72.291,202.659,67.689,207.886,66.146z" />
                                        <path d="M81.482,123.904c-4.348-2.38-6.507-6.172-6.241-10.639c0.461-7.724,1.482-15.423,2.486-23.105
                                    c0.692-5.297,1.751-10.545,2.519-15.071c2.206,4.595,1.315,10.473,0.372,16.309c-0.634,3.921-1.656,7.779-2.292,11.7
                                    C77.157,110.305,78.157,117.23,81.482,123.904z" />
                                        <path
                                            d="M150.993,130.836c-1.077-1.339-2.153-2.679-3.768-4.688c-2.127,2.622-3.792,4.785-5.577,6.845
                                    c-1.902,2.196-4.129,4.417-7.147,2.239c-2.95-2.128-3.076-5.095-0.942-8.613c1.251,1.432,2.264,2.592,3.364,3.851
                                    c4.117-1.434,5.347-8.418,10.895-5.989c1.948,0.853,3.017,3.715,4.488,5.66C151.868,130.372,151.43,130.604,150.993,130.836z" />
                                        <path
                                            d="M68.633,114.189c-2.655-5.397-4.219-11.156-1.339-16.852c2.868-5.672,5.595-11.195,4.454-17.94
                                    c0.557,0.079,1.114,0.159,1.671,0.238c-0.332,4.246,0.219,8.821-1.209,12.658c-1.984,5.332-2.649,10.47-2.001,15.995
                                    c0.222,1.891-0.122,3.849-0.207,5.776C69.546,114.105,69.09,114.147,68.633,114.189z" />
                                        <path
                                            d="M158.033,190.124c-3.287-0.561-5.047-2.465-4.995-5.756c0.048-3.026,3.131-5.579,6.158-5.009
                                    c3.154,0.595,5.088,2.569,4.589,5.94C163.318,188.45,161.408,190.287,158.033,190.124z" />
                                        <path
                                            d="M89.304,91.284c-1.051,4.803-3.146,9.811-2.94,14.723c0.202,4.826,2.741,9.555,4.254,14.326
                                    c-0.373,0.116-0.746,0.233-1.118,0.349c-1.989-5.061-4.272-10.029-5.892-15.205C81.6,99.057,84.2,93.394,89.304,91.284z" />
                                        <path d="M91.226,319.112c-3.33-2.213-5.573-3.704-8.204-5.452c-0.862,2.235-1.339,3.47-1.816,4.705
                                    c-0.28-0.046-0.561-0.092-0.841-0.138c0-4.269,0-8.538,0-13.179c3.524-0.29,7.541-1.638,9.734,2.173
                                    c0.986,1.712-0.115,4.626-0.269,6.995c-0.43,0.007-0.86,0.013-1.29,0.02C89.248,315.521,89.955,316.805,91.226,319.112z
                                     M82.343,306.784c0,2.33,0,4.023,0,5.716c0.37,0.349,0.74,0.698,1.111,1.047c1.842-1.272,5.242-2.547,5.239-3.815
                                    C88.685,305.516,85.171,306.777,82.343,306.784z" />
                                        <path
                                            d="M82.84,128.887c-0.792,4.185-2.623,6.408-5.581,5.695c-1.652-0.398-3.747-2.851-3.938-4.567
                                    c-0.336-3.025,2.101-5.101,5.095-4.519C80.204,125.844,81.655,127.924,82.84,128.887z" />
                                        <path d="M158.316,308.436c2.186,0.122,5.611-0.556,6.308,0.526c1.618,2.511,1.919,5.872,3.037,9.915
                                    c-4.129-1.36-8.581,2.057-9.674-2.649c-1.119-4.818,4.077-2.668,6.364-4.029c-0.615-4.152-4.205-1.411-6.147-2.352
                                    C158.242,309.376,158.279,308.906,158.316,308.436z" />
                                        <path
                                            d="M103.328,313.603c-2.647,0.189-5.148,0.368-7.649,0.546c-0.049,0.574-0.097,1.147-0.146,1.721
                                    c2.138,0.394,4.277,0.788,6.635,1.222c-2.24,2.471-5.002,2.274-6.825,0.341c-1.293-1.371-2.048-4.294-1.5-6.041
                                    c0.47-1.499,3.08-3.145,4.827-3.243C101.671,307.981,103.356,310.124,103.328,313.603z" />
                                        <path
                                            d="M132.381,318.505c-2.753-1.059-7.373,2.524-8.237-2.504c-0.752-4.372,4.002-2.559,6.449-3.766
                                    c-0.48-3.966-3.899-1.8-5.948-2.338c0.046-0.402,0.092-0.803,0.139-1.205c2.062,0,5.355-0.783,5.948,0.15
                                    c1.617,2.546,2.095,5.816,3.023,8.8C133.297,317.929,132.839,318.217,132.381,318.505z" />
                                        <path
                                            d="M225.428,37.505c-2.976-8.158-5.587-16.443-14.992-19.853C219.609,17.646,226.867,27.393,225.428,37.505z" />
                                        <path
                                            d="M178.282,318.29c-0.113-1.686,0.095-3.484-0.439-5.024c-0.453-1.306-1.765-2.314-2.697-3.454
                                    c-1.055,1.08-2.572,1.989-3.046,3.282c-0.584,1.595-0.3,3.508-0.391,5.283c-0.37,0.011-0.739,0.023-1.109,0.034
                                    c0-3.181,0-6.362,0-9.602c9.454-0.818,10.275,0.017,8.872,9.407C179.076,318.241,178.679,318.265,178.282,318.29z" />
                                        <path d="M171.699,279.701c1.335-0.509,2.658-1.418,4.008-1.462c9.079-0.294,9.081-0.234,10.819,3.189c-4.89,0-9.539,0-14.189,0
                                    C172.125,280.852,171.912,280.277,171.699,279.701z" />
                                        <path
                                            d="M171.545,102.218c4.128-3.263,7.591-1.821,12.389,4.801C180.762,108.111,175.581,106.168,171.545,102.218z" />
                                        <path d="M146.072,308.675c0,3.068,0,6.137,0,9.188c-9.148,1.441-11.648-1.21-8.058-9.284c0.111,1.65-0.111,3.421,0.434,4.913
                                    c0.466,1.277,1.81,2.233,2.766,3.331c1.026-1.048,2.466-1.93,2.973-3.188c0.613-1.521,0.437-3.36,0.602-5.062
                                    C145.216,308.607,145.644,308.641,146.072,308.675z" />
                                        <path
                                            d="M153.979,202.398c-2.696,1.854-4.415,3.887-5.532,3.598c-1.568-0.407-2.689-2.539-4.001-3.934
                                    c1.343-1.165,2.618-3.141,4.048-3.26C149.829,198.692,151.328,200.553,153.979,202.398z" />
                                        <path d="M112.592,309.655c-1.67,0.18-3.341,0.359-5.011,0.539c-0.058,0.421-0.116,0.842-0.173,1.263
                                    c1.068,0.453,2.262,0.734,3.171,1.403c1.185,0.872,2.144,2.052,3.201,3.099c-1.41,0.906-2.721,2.164-4.264,2.601
                                    c-1.143,0.324-2.587-0.421-3.762-1.603c1.94-0.139,3.881-0.277,6.066-0.433c-1.184-3.608-8.177-1.378-5.875-6.614
                                    C107.138,307.193,110.225,307.665,112.592,309.655z" />
                                        <path
                                            d="M120.932,318.968c-1.33-0.757-3.832-1.582-3.792-2.259c0.208-3.536-3.553-7.302,0.277-10.738
                                    c1.144,0.95,2.145,1.781,3.149,2.614C117.455,312.284,117.701,315.089,120.932,318.968z" />
                                        <path
                                            d="M184.611,305.759c1.441,1.194,2.615,2.168,3.808,3.156c-3.582,2.552-3.471,6.062-0.086,9.852
                                    c-1.286-0.542-3.603-0.959-3.686-1.646C184.201,313.453,181.904,309.639,184.611,305.759z" />
                                        <path
                                            d="M201.429,116.813c0.704-3.461,1.96-7.096-3.058-8.757c0.341-0.382,0.682-0.764,1.023-1.146
                                    c1.592,0.935,4.258,1.622,4.543,2.859c0.525,2.272-0.353,4.868-0.645,7.329C202.671,117.003,202.05,116.908,201.429,116.813z" />
                                        <path d="M150.204,318.299c0-3.091,0-6.182,0-9.642c1.587-0.077,3.268-0.158,4.427-0.214c-1.255,3.297-2.505,6.582-3.755,9.867
                                    C150.652,318.305,150.428,318.302,150.204,318.299z" />
                                    </g>
                                </svg>
                            </div>
                        </section>
                        <div style="position: absolute;top: 1rem;left: 2rem;">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                        </div>
                        <div style="position: absolute;top: 30vh;">
                            <!-- 示意圖+文字 -->
                            <div>
                                <h1>尋找屬於我們的美味關係</h1>
                                <p>讓我們為您分析的飲食習慣和健康態度</p>
                            </div>
                        </div>
                        <div>
                            <button @click="this.page_top=-100">開始分析</button>
                        </div>
                    </div>
                    <!-- 稱呼 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>
                        <!--  -->
                        <div class="s_body">
                            <h1>該怎麼稱呼您呢？</h1>

                            <input type="text" name="" id="" v-model="userName">
                        </div>
                        <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div>
                    </div>
                    <!-- 第一題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您通常的蔬食偏好是什麼？</h1>
                            <!-- <p>使用者姓名</p> -->

                            <button :class="option_class" @click="option_click()" @click.once=this.score.a++>米食</button>
                            <button>沙拉</button>
                            <button>甜點</button>
                            <button>果昔</button>
                            <button>我全都要</button>
                        </div>
                        <!-- <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div> -->
                    </div>
                    <!-- 第二題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>
                        <div class="s_body">
                            <h1>您會注意食材是否為有機的嗎?</h1>

                            <button :class="option_class" @click="option_click()">我會特別挑選有機食材</button>
                            <button>沒特別注意</button>
                        </div>
                    </div>
                    <!-- 第三題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>是否有特殊的飲食需求或過敏原？</h1>

                            <button :class="option_class" @click="option_click()">無麩質</button>
                            <button>不喜歡藥膳</button>
                            <!-- <input type="text" placeholder="其他"> -->
                        </div>
                        <!-- <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div> -->
                    </div>
                    <!-- 第四題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您特別喜歡的蔬菜有？</h1>

                            <button :class="option_class" @click="option_click()">菠菜</button>
                            <button>番茄</button>
                            <button>胡蘿蔔</button>
                            <button>紅椒</button>
                            <button>馬鈴薯</button>
                        </div>
                        <!-- <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div> -->
                    </div>
                    <!-- 第五題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>辣的接受程度？</h1>

                            <button :class="option_class" @click="option_click()">大辣</button>
                            <button>中辣</button>
                            <button>小辣</button>
                            <button>胡椒都覺得辣</button>
                        </div>
                    </div>
                    <!-- 第六題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您對餐點的熱量考量？</h1>

                            <button :class="option_class" @click="option_click()">越高越好</button>
                            <button>我都吃八分飽</button>
                            <button>我在減肥</button>
                        </div>
                    </div>
                    <!-- 第七題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您喜歡的口味主調？</h1>

                            <button :class="option_class" @click="option_click()">酸</button>
                            <button>甜</button>
                            <button>鹹</button>
                            <button>苦</button>
                            <button>辣</button>
                            <button>我選擇困難</button>
                        </div>
                        <!-- <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div> -->
                    </div>
                    <!-- 第八題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>對於餐點的口感有偏好嗎？</h1>

                            <button :class="option_class" @click="option_click()">清脆</button>
                            <button>軟嫩</button>
                            <button>口感豐富</button>
                        </div>
                    </div>
                    <!-- 第九題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您最喜歡的素食料理？</h1>

                            <button :class="option_class" @click="option_click()">沙拉</button>
                            <button>米食</button>
                            <button>麵食</button>
                            <button>麵包類</button>
                        </div>
                    </div>
                    <!-- 第十題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您喜歡的水果有？</h1>

                            <button :class="option_class" @click="option_click()">蘋果</button>
                            <button>草莓</button>
                            <button>芒果</button>
                            <button>香蕉</button>
                            <button>葡萄</button>
                        </div>
                        <!-- <div class="s_footer">
                            <button @click="next_page">NEXT</button>
                        </div> -->
                    </div>
                    <!-- 第十一題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您對於餐點中添加的植物蛋白有興趣嗎？</h1>

                            <button :class="option_class" @click="option_click()">有，我需要植物蛋白</button>
                            <button>沒有，我不喜歡植物蛋白</button>
                        </div>
                    </div>
                    <!-- 第十二題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>
                        <div class="s_body">
                            <h1>是否有特殊的營養需求？</h1>

                            <button :class="option_class" @click="option_click()">蛋白質</button>
                            <button>維生素B12</button>
                            <button>鐵質</button>
                            <button>鈣質</button>
                            <button>Omega-3脂肪酸</button>
                        </div>
                    </div>
                    <!-- 第十三題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>
                        <div class="s_body">
                            <h1>您對食物的呈現有什麼要求？</h1>

                            <button :class="option_class" @click="option_click()">顏色豐富</button>
                            <button>菜色多樣化</button>
                            <button>高貴精緻</button>
                        </div>
                    </div>
                    <!-- 第十四題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>
                        <div class="s_body">
                            <h1>您會特別挑選當季食材嗎？</h1>

                            <button :class="option_class" @click="option_click()">會，都吃當季的為主</button>
                            <button>沒注意過</button>
                        </div>
                    </div>
                    <!-- 第十五題 -->
                    <div class="slide_n">
                        <div class="s_header">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                            <!-- 進度條 -->
                            <div class="bar">
                                <div class="process" :style="{width:(page_num/16)*100+'%'}"></div>
                            </div>
                            <div class="pre_page">
                                <p @click="pre_page">上一頁</p>
                                <p>{{page_num}}/16</p>
                            </div>
                        </div>

                        <div class="s_body">
                            <h1>您希望的餐點價格區間為？</h1>

                            <button>100-200元</button>
                            <button>200-300元</button>
                            <button :class="option_class" @click="option_click()">健康無價</button>
                        </div>
                    </div>
                    <!-- 推薦頁面 -->
                    <div class="slide_n">
                        <div class="s_header" style="left: 0;">
                            <a href="">
                                <h3>果漾蔬食</h3>
                                <p>Relation-ship</p>
                            </a>
                        </div>

                        <div class="s_body">
                            <h1>您的最佳餐食和果昔推薦如下：</h1>

                        </div>

                        <div class="s_footer">

                        </div>
                    </div>
                </div>
                <button><img src="./questionnaire_img/x_icon.svg" alt="X"></button>
            </div>
        </div>
    </quiz>

    <script src="./questionnaire.js"></script>
</body>

</html>